
.BoxStyle {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: #505050;
    margin-left: 20px;
    padding: 0px 0px 0px 20px;
}

.AvatarAndInfoBoxStyle {
    display: flex;

}

select {
    border-radius: 10px;
    background-color: #808080;
}


.PhotoBoxStyle {
    height: max-content;
}

.InfoBoxStyle {
    margin-left: 20px;
    height: max-content;
}

.GroupBoxStyle {
    margin-left: 10px;
}

h3 {
    color: white;
    margin-left: 10px;
}

.InputNameStyle {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: #808080;
    margin-bottom: 20px;
}

.InputNumberStyle{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: #808080;
    margin-bottom: 20px;
}

.AvatarStyle {
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 120px;
    margin: auto;
  }



.ImgStyle {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.AvatarEditButtonStyle {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 30px;
    margin-left: auto;
    text-align: center;
    font-size: large;
}

.SaveEditButtonStyle {
    border-radius: 10px;
    background-color: rgb(109, 167, 110);
    margin: 10px;
}

.DeleteButtonStyle {
    border-radius: 10px;
    background-color: tomato;
    margin: 10px;
}

.CallButtonStyle {
    border-radius: 10px;
    background-color:rgb(109, 167, 110);
    margin-left: 20px;
}

.CloseInfoStyle {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 24px;
    color: tomato;
    cursor: pointer;
}