.HeaderTextStyle {
    background-color: white;
    font-size: 28px;
    font-weight: bold;
    width: max-content;
    height: max-content;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    top: 10px;
    margin-left: 20px;
    border-radius: 10px
}

.BoxStyle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: max-content;
    height: max-content;
    background-color: #282828;
    border-radius: 10px
}

.ContactsBoxStyle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: max-content;
    height: max-content;
    background-color: #282828;
    border-radius: 10px
}

.EmptyTextStyle {
    text-align: center;
}